.navigation ul {
    display: flex;
    /* list-style: none; */
    gap: 20px;
    font-weight: 500;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    height: 72px;

}