.primary_btn{
 padding: 18px 10px;
 background-color: black;
 color: aliceblue;
 border-radius: 5px;
 display: flex;
 align-items:center ;
 gap: 8px;
 min-width:220px ;
 font-size: 20PX;
 justify-content: center;
 /* display: inline;
 gap :5px; */
}

.outline_btn {
    padding: 18px 10px;
    background-color: purple;
    border: 1px solid black;
    color:white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 700px;
    font-size: 20PX;
    justify-content: center;
    /* display: inline;
 gap :5px; */
}
 